{% extends 'base.html' %}
{% load static %}
{% load cache %}

{% block head %}
{{ context_for_js|json_script:"context" }}

<!-- js-cookie -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>

<script src="{% static 'symbol/JavaScript/searcher.js'%}"></script>
<script src="{% static 'symbol/JavaScript/index.js' %}"></script>
<script src="{% static 'symbol/JavaScript/sidebar.js' %}"></script>
<link rel='stylesheet' href="{% static 'symbol/CSS/index.css' %}" type='text/css'>
</link>

{% endblock %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100 flex-xl-nowrap">
        <div class="col-12 col-md-3 col-lg-2 bd-sidebar h-100" style="overflow: scroll;">
            <input type="search" class="form-control sticky-top" id="search-input" placeholder="Search symbols">
            <br>
            <div>
                <ul class="list-group list-group-flush" id="listdata">
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-9 col-lg-10 px-4 h-100 overflow-auto">
            <h1 class="h-10">
                <span class='display-4' id="content_name">{{symbol.name}}</span>
            </h1>
            <div id="symbol" class="h-90 overflow-auto" style="height:90%;">
                {% include symbol.template_path%}
            </div>
        </div>
    </div>
</div>
{% endblock %}