{% extends 'base.html' %}
{% load static %}
{% load cache %}

{% block head %}
{{ context_for_js|json_script:"context" }}

<!-- js-cookie -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>

<link rel='stylesheet' href="{% static 'symbol/css/index.css' %}" type='text/css'></link>

<base href="{{article_base_uri}}" target="_blank">

{% endblock %}

{% block drawer %}
<symbol-drawer></symbol-drawer>
{% endblock %}

{% block content %}
<router-view></router-view>
{% endblock %}

{% block foot %}
<!-- Models -->
<script src="{% static 'symbol/js/models/symbol-model.js'%}"></script>
<!-- Components -->
<script src="{% static 'symbol/js/components/SymbolDrawer.js'%}"></script>
<!-- Views -->
<script src="{% static 'symbol/js/views/SymbolView.js'%}"></script>
<!-- Router -->
<script src="{% static 'symbol/js/router/index.js'%}"></script>
<!-- App -->
<script src="{% static 'symbol/js/app.js'%}"></script>
{% endblock %}