{% extends 'base.html' %}

{% load static %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">emwiki</h1>
      <p>This Web application can write a TeX-format description in the Mizar Mathmatical Library (MML), and make the description follow the MML update. This Web application provides users with the function of adding, editing, and browsing description of MML on a Wiki format Web platform. If there is an update to the MML, link the description to the new MML by running the program on the server.</p>
      <h1 class="display2 mt-8">Usage</h1>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/scL6PB1pON8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h1 class="display2 mt-8">News</h1>
      <ul class="mb-8">
        <li>Due to system maintenance, the service is unavailable for about 10 minutes from 22:00 UTC every Sunday. Thank you in advance for your attention.</li>
      </ul>
    </div>
  </div>
{% endblock %}
