[submodule "emparser"]
	path = emparser
	url = https://github.com/mimosa-project/emparser.git
[submodule "emwiki/mmlfiles"]
	path = emwiki/mmlfiles
	url = https://github.com/mimosa-project/emwiki-mmlfiles.git
