[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
pytest = "*"
wheel = "*"
isort = "*"

[packages]
django = "==2.2.20"
psycopg2 = ">=2.7,<3.0"
uwsgi = "==2.0.17"
lxml = "*"
natsort = "*"
tqdm = "*"
gitpython = "*"
beautifulsoup4 = "*"
requests = "*"
mypy = "*"
flake8 = "*"
gensim = "*"

[requires]
python_version = "3.7"
