[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
pytest = "*"
wheel = "*"
isort = "*"
coverage = "*"
networkx = "~=2.5"
matplotlib = "*"

[packages]
django = ">=3.2, <4.0"
psycopg2 = "*"
uwsgi = "*"
lxml = "*"
natsort = "*"
tqdm = "*"
gitpython = "*"
beautifulsoup4 = "*"
requests = "*"
mypy = "*"
flake8 = "*"
gensim = "*"
emparser = {path = "./emparser"}
python-levenshtein = "*"

[requires]
python_version = "3.7"
