{% load static %}
<!DOCTYPE html>
<html lang='en'>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>emwiki</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

  <!-- Select2 -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

  <!-- base CSS, JavaScript -->
  <link rel='stylesheet' href="{% static 'CSS/base.css' %}" type='text/css'>
  </link>
  <script src="{% static 'JavaScript/base.js' %}"></script>

  {% block head %}{% endblock %}
</head>

<body>
  {% csrf_token %}
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home:home'%}">emwiki</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" data-toggle="dropdown"
            aria-expanded="false">
            Search
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'article:index' %}">Article</a></li>
            <li><a class="dropdown-item" href="{% url 'symbol:index' %}">Symbol</a></li>
            <li><a class="dropdown-item" href="{% url 'search:search_theorem' %}">Theorem/Definition</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" data-toggle="dropdown"
            aria-expanded="false">
            Graph
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item disabled" href="{% url 'graph:graph' %}">Article(developing)</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" data-toggle="dropdown"
            aria-expanded="false">
            {{ user.get_username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end active">
            <li>
              <a class="dropdown-item" href="{% url 'accounts:user_detail' user.pk %}">
                User informations
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'accounts:logout' %}" class="logout">
                Logout
              </a>
            </li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'accounts:signup' %}" class="signup">
            Sign up
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'accounts:login' %}" class="login">
            Login
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <main id='main' role="main" class="container-fluid">
    {% block content %}{% endblock %}
  </main><!-- /.container -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  {% block foot %}{% endblock %}
</body>

</html>