{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% csrf_token %}
        <title>emwiki</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Select2 -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

        <!-- base CSS, JavaScript -->
        <link rel='stylesheet' href="{% static 'CSS/base.css' %}" type='text/css'></link>
        <script src="{% static 'JavaScript/base.js' %}"></script>

        {% block head %}{% endblock %}
    </head>
    <body>
        <header class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <a class="navbar-brand" href="/">emwiki</a>
                <ul class="navbar-nav mr-auto mw-100">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home:about' %}">About</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home:usage' %}">Usage</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'search:search_theorem' %}">Search</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link disabled" href="{% url 'graph:graph' %}">Graph</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarAccounts" role="button" data-toggle="dropdown" aria-haspopupp="true" aria-expanded="false">
                      {{ user.get_username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarAccounts">
                        <a class="dropdown-item" href="{% url 'accounts:user_detail' user.pk %}">
                            User informations
                        </a>
                        <a class="dropdown-item" href="{% url 'accounts:logout' %}" class="logout">
                            Logout
                        </a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:signup' %}" class="signup">
                        Sign up
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:login' %}" class="login">
                        Login
                    </a>
                </li>
                {% endif %}
                </ul>
            </div>
            
            <form class="form-inline mw-100 nav-item  mx-auto" action='/search' method='get'>
                <div class="input-group">
                    <input id='search-nav' class="form-control mr-sm-2 mw-100" type="search" placeholder="Search" aria-label="Search" autocomplete='on' list='search_keywords' name='search_query'>
                    <datalist id='search_keywords'></datalist>
                <span class=''>
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </span>
                </div>
            </form>
        </header>
            
        <main id='main' role="main" class="container-fluid">
            {% block content %}{% endblock %} 
        </main><!-- /.container -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block foot %}{% endblock %}
    </body>
</html>