{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel='stylesheet' href="{% static 'explanation/css/index.css' %}" type='text/css'>
</link>
{% endblock %}

{% block content %}

<h1>Delete explanation</h1>
<p>Do you want to delete explanation?</p>
<p>TITLE: {{ explanation.title }}</p>
<p>TEXT :{{ explanation.text }}</p>

<form action='' method='post'>{% csrf_token %}
    <a href='JavaScript:history.back()' class='cancelButton'>cancel</a>
    <button type='submit' class='submitButton'>delete</button>
</form>

{% endblock %}