{% extends 'base.html' %}
{% load static %}

{% block head %}
    {{ context_for_js|json_script:"context" }}
    <script src="{% static 'contents/JavaScript/index.js' %}"></script>
    <script src="{% static js_url %}"></script>
    <link rel='stylesheet' href="{% static 'contents/CSS/index.css' %}" type='text/css'></link>
    <script src="{% static 'article/JavaScript/jquery.searcher.js'%}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row h-100 flex-xl-nowrap">
            <div class="col-12 col-md-3 col-xl-2 bd-sidebar h-100"  style="overflow: scroll;">
                <input type="search"  class="form-control sticky-top" id="search-input" placeholder="Search...">
                <br>
                <div>
                    <ul class="list-group list-group-flush" id="listdata">
                    </ul>
                </div>
            </div>
            <div class="col-md-9 ml-sm-auto col-lg-10 px-4 h-100">
                <h1 style="height:10%;">
                    <span class='display-4' id="content_name">{{name}}</span>
                    {% if category == 'Article'%}
                    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true"
                    data-content="<pre>{% include bib_path %}</pre>">
                    bib
                    </button>
                    {% endif %}
                </h1>
                <iframe id='mml-content' class="w-100" importance='low' style="height:90%;"></iframe>
            </div>
        </div>
    </div>
{% endblock %}
