{% extends 'base.html' %}
{% load static %}

{% block head %}
    {{ context_for_js|json_script:"context" }}
    <script src="{% static 'contents/JavaScript/index.js' %}"></script>
    <script src="{% static js_url %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid h-100">
        <div class="row h-100 flex-xl-nowrap">
            <div class="col-12 col-md-3 col-xl-2 bd-sidebar h-100"  style="overflow: scroll;">
                <input type="search"  class="form-control sticky-top" id="search-input" placeholder="Search...">
                <br>
                <div>
                    <ul class="list-group list-group-flush" id="listdata">
                    </ul>
                </div>
            </div>
            <div class="col-md-9 ml-sm-auto col-lg-10 px-4 h-100">
                <div style="height:10%;">
                    <h1>{{name}}</h1>
                </div>
                <iframe id='mml-content' class="w-100" importance='low' style="height:90%;"></iframe>
            </div>
        </div>
    </div>
<script src="{% static 'article/JavaScript/jquery.searcher.js'%}"></script>
<script>
$("#listdata").searcher({
    itemSelector: "a",
    textSelector:  "", // the text is within the item element (li) itself
    inputSelector: "#search-input"
});
</script>

{% endblock %}
