body {
    height: 100vh;
    font-family: Arial;
}

#main {
    height: 100%;
    width: 100%;
    padding: 0;
}

.v-navigation-drawer .v-data-table tr {
    cursor: pointer;
}

#splitter {
    position: fixed;
    width: 6px;
    height: 100vh;
    cursor: col-resize;
    /* v-navigation-drawerのz-indexが6であるため */
    z-index: 7;
}
#splitter:hover {
    background-color: rgb(37, 146, 235);
}
#splitter:active {
    background-color: rgb(148, 200, 243);
}
