/* explanation_form.html */
#title {
    border: 2px solid #dfe2e9;
    /* Widen as much as possible */
    flex-grow: 1;
}

.flex-container {
    display: flex;
}

p {
    margin: 0;
    padding-right: 10px;
}

#input-field-wrapper,
#preview-field-wrapper {
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

#input-field {
    width: 100%;
    height: 600px;
    resize: both;
    overflow: auto;
}

#preview-field {
    background-color: #f1f1f1;
    width: 100%;
    height: 600px;
    resize: both;
    overflow: auto;

}

#Article-field {
    width: 50%;
    resize: none;
}

@media only screen and (min-width: 768px) {
    .columns {
        flex-direction: row;
    }

    #input-field-wrapper,
    #preview-field-wrapper {
        flex-grow: 1;
        margin-left: 10px;
    }
}

/* explanation_detail.html */
#explanationTitle {
    border-bottom: double 5px #dfe2e9;
}

#explanationText {
    margin: 5vh 30px 10px 30px;
    padding: 10px 10px 10px 10px;
    border: 2px solid #dfe2e9;
}