{% extends "base.html" %}

{% block content %}
<form action="" method="POST">
    <div class="col-md-6 offset-md-3 mt-5">
        <div class="card">
            <div class="card-body">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    <hr>
                {% endfor %}
                <v-btn type="submit">Login</v-btn><hr>
                <v-btn href="{% url 'accounts:signup' %}">Sign up</v-btn>
                <v-btn href="{% url 'accounts:password_reset' %}">Password reset</v-btn>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </div>
        </div>
    </div>
</form>
{% endblock %}
