{% extends "base.html" %}

{% block content %}
<v-row justify="center mt-5">
    <v-col
      cols="12"
      sm="10"
      md="8"
      lg="6"
    >
        <v-card ref="form">
            <form action="" method="post">
                <v-card-text>
                    <p class="text-h4 text--primary">Login</p>
                    <div class="red--text">{{ form.non_field_errors }}</div>
                    {% for field in form %}
                        {% if field.name == "password" %}
                            <v-text-field
                              name="{{ field.name }}"
                              label="{{ field.label }}"
                              type="password"
                              required
                            ></v-text-field>
                            <div class="red--text">{{ field.errors }}</div>
                         {% else %}
                             <v-text-field
                             name="{{ field.name }}"
                             label="{{ field.label }}"
                             type="text"
                             required
                             ></v-text-field>
                            <div class="red--text">{{ field.errors }}</div>
                        {% endif %}
                    {% endfor %}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                </v-card-text>
                <v-divider class="mt-6"></v-divider>
                <v-card-actions class="d-flex flex-row-reverse">
                    <v-btn type="submit" block>Login</v-btn>
                </v-card-actions>
                <v-divider class="mt-6"></v-divider>
                <v-card-actions class="d-flex justify-center">
                    <v-btn href="{% url 'accounts:signup' %}">Sign up</v-btn>
                    <v-btn href="{% url 'accounts:password_reset' %}">Password reset</v-btn>
                </v-card-actions>
            </form>
      </v-card>
    </v-col>
</v-row>
{% endblock %}
