{% extends "base.html" %}
{% block content %}
<v-row justify="center mt-5">
    <v-col
      cols="12"
      sm="10"
      md="8"
      lg="6"
    >
        <v-card ref="form">
            <form action="" method="post">
                <v-card-text>
                    <p class="text-h4 text--primary">New password</p>
                    <div class="red--text">{{ form.non_field_errors }}</div>
                    {% for field in form %}
                        <v-text-field
                          name="{{ field.name }}"
                          label="{{ field.label }}"
                          type="password"
                          hint="It must contain at least 8 characters."
                          required
                        ></v-text-field>
                        <div class="red--text">{{ field.errors }}</div>
                    {% endfor %}
                    {% csrf_token %}
                </v-card-text>
                <v-divider class="mt-6"></v-divider>
                <v-card-actions>
                    <v-btn type="submit" block>Submit</v-btn>
                </v-card-actions>
            </form>
      </v-card>
    </v-col>
</v-row>
{% endblock %}
