{% extends "base.html" %}
{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
            <td><v-btn href="{% url 'accounts:user_update' user.pk %}">Change</v-btn></td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
            <td><v-btn href="{% url 'accounts:email_change' %}">Change</v-btn></td>
        </tr>
        <tr>
            <th>Password</th>
            <td>●●●●●●●●●●●</td>
            <td><v-btn href="{% url 'accounts:password_change' %}">Change</v-btn></td>
        </tr>
    </tbody>
</table>
{% endblock %}
