{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="m-4">
    <h1>About</h1>
    <p>Wiki for eco-Mizar</p>

    <h2>Description</h2>
    <p>This Web application can write a TeX-format description in the Mizar Mathmatical Library (MML), and make the description follow the MML update. This Web application provides users with the function of adding, editing, and browsing description of MML on a Wiki format Web platform. If there is an update to the MML, link the description to the new MML by running the program on the server.</p>
</div>
{% endblock %}