{% extends 'base.html' %}

{% load static %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">emwiki</h1>
      <p>This Web application can write a TeX-format description in the Mizar Mathmatical Library (MML), and make the description follow the MML update. This Web application provides users with the function of adding, editing, and browsing description of MML on a Wiki format Web platform. If there is an update to the MML, link the description to the new MML by running the program on the server.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">GitHub &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Article</h2>
        <p>Under Construction</p>
        <p><a class="btn btn-secondary" href="{% url 'contents:index' 'Article' 'abcmiz_0'  %}" role="button">Access &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Symbol</h2>
        <p>Under Construction</p>
        <p><a class="btn btn-secondary" href="{% url 'contents:index' 'Symbol' '!' %}" role="button">Access &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Search</h2>
        <p>Under Construction</p>
        <p><a class="btn btn-secondary" href="{% url 'search:search' %}" role="button">Access &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Graph</h2>
        <p>Under Construction</p>
        <p><a class="btn btn-secondary" href="{% url 'graph:graph' %}" role="button">Access &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

{% endblock %}