{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class='m-4'>
    <h1>Usage</h1>

    <h2 class="mt-5">Search</h2>
    <p>1. Select a Category</p>
    <p>2. Enter search query text</p>
    <p>3. Push the search button</p>

    <h2 class="mt-5">Article</h2>
    <h3>How to Edit Comment</h3>
    <p>1. Sign up or Login</p>
    <p>2. Mouseover the comment and "+" button will appear
    <p>3. Push "+" button</p>
    <P>4. Edit comment</P>
    <p>5. Push Save button to save</p>

</div>
{% endblock %}