{% extends "base.html" %}
{% load static %}

{% block content %}
<v-row justify="center mt-5">
    <v-col cols="12" sm="10" md="8" lg="7">
        <v-card ref="form">
            <form action="" method="post">
                <v-card-text>
                    <p class="text-h4 text--primary mb-5">Preparation</p>
                    <ol class="text-h6 text--primary mb-5">
                        <li>Create your GitHub account <a
                                href="https://docs.github.com/get-started/start-your-journey/creating-an-account-on-github"
                                target="_blank">ℹ️</a>.</li>
                        <li>Fork <a href="https://github.com/mimosa-project/mizar-server-contents" target="_blank">the
                                Mizar server
                                contents repository</a> beforehand <a
                                href="https://docs.github.com/pull-requests/collaborating-with-pull-requests/working-with-forks/fork-a-repo"
                                target="_blank">ℹ️</a>.</li>
                        <li>Set your GitHub ID and GitHub repository name on the <a href="{% url 'settings:index' %}"
                                target="_blank">settings
                                page</a>.<br>
                            Your forked repository URL should be: https://github.com/&lt;GitHub ID&gt;/&lt;GitHub
                            repository name&gt;</li>
                        {% if github_id %}
                        <li>Transition to VSCode for the Web by clicking the <a
                                href="https://github.dev/{{github_id}}/{{repository_url}}" target="_blank"
                                rel="noopener noreferrer">
                                [DEVELOP]
                            </a>button.</li>
                        {% else %}
                        <li>Transition to VSCode for the Web by clicking the [DEVELOP] button.</li>
                        {% endif %}
                        <li>Install the "emvscode-web" VSCode for the Web extension <a
                                href="{% static 'settings/img/emvscode-web_install.png' %}" target="_blank">ℹ️</a>.</li>
                        <li>Obtain a personal access token (classic, scope: repo) at <a
                                href="https://github.com/settings/tokens">GitHub</a> <a
                                href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens#creating-a-personal-access-token-classic"
                                target="_blank">ℹ️</a>.</li>
                        <li>Configure the OAuth Token for VS Code for the Web <a
                                href="{% static 'settings/img/emvscode-web_OAuth_token.png' %}" target="_blank">ℹ️</a>.
                        </li>
                    </ol>
                </v-card-text>
                {% if github_id %}
                <a href="https://github.dev/{{github_id}}/{{repository_url}}" target="_blank" rel="noopener noreferrer">
                    <v-btn block>Develop</v-btn>
                </a>
                {% else %}
                <v-btn block>Develop</v-btn>
                {% endif %}
            </form>
        </v-card>
    </v-col>
</v-row>
{% endblock %}