{% extends "base.html" %}
{% block content %}
<v-row justify="center mt-5">
    <v-col cols="12" sm="10" md="8" lg="6">
        <v-card ref="form">
            <form action="" method="post">
                <v-card-text>
                    <p class="text-h4 text--primary mb-12">Preparation procedure for using this feature</p>
                    <li>Fork <a href="https://github.com/mimosa-project/mizar-server-contents">the Mizar server contents
                            repository</a>
                        on GitHub.</li>
                    <li>Set your GitHub ID and the URL of the repository you forked in step 1 on the settings page of
                        emwiki.</li>
                    <li>Navigate to VS Code for the Web.</li>
                    <li>Install the "emvscode-web" extension.</li>
                    <li>Obtain an OAuth Token (a token used to authenticate access to the GitHub API).</li>
                    <li>Set the OAuth Token in the settings of VS Code for the Web.</li>
                    <br>
                    <input type="checkbox" id="checkbox" name="checkbox">
                    <label for="checkbox">Do not show this page again</label>
                    {% csrf_token %}
                </v-card-text>
                <v-btn type="submit" block>Develop</v-btn>
            </form>
        </v-card>
    </v-col>
</v-row>
{% endblock %}