#graph{
    height: 100%;
    width: 100%;
}

.color_index{
    position: absolute;
    top: 30px;
    right: 20px;
}

.color_labels .number_row{
    width: 20px;
    text-align: center;
}

.color_labels .color_row{
    width: 40px;
}

.color_labels .generation_param_row{
    width: 140px;
    font-size: 100%;
}

.color_labels .node_size_param_row{
    width: 80px;
}
