{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'article/JavaScript/article.js' %}" defer='defer'></script>
    <link rel='stylesheet' href="{% static 'article/CSS/article.css' %}" type='text/css'></link>
{% endblock %}

{% block content %}
        <base href="/">
            <iframe id='article' name="article" src="/static/{{ file_path }}" ></iframe>
        </main><!-- /.container -->
        <script>
            var iframe_path = 'static/{{ file_path }}'+location.hash;
           $('#article')[0].contentWindow.location.replace(iframe_path);
        </script>
{% endblock %}
