[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
e1839a8 = {editable = true,path = "."}
mmlfrontend = {editable = true,path = "."}

[packages]
lxml = "*"
natsort = "*"

[requires]
python_version = "3.7"
