{% extends 'base.html' %}

{% load static %}
{% block head %}
{{ query_text|json_script:"query_text" }}
{{ context_for_js|json_script:"context" }}
<script src="{% static 'search/JavaScript/search_theorem.js' %}"></script>

{% endblock %}


{% block content %}
<form class="m-1" action='{% url "search:search_theorem" %}' method='get'>
  <div class="form-group">
    <textarea class="form-control p-1" id="search-theorem" rows="6" placeholder='Search Theorem and Definition'
      value="{{ query_text }}" name="search_query">{{ query_text }}</textarea>
  </div>
  <button class="btn btn-outline-success w-100" type="submit">Search</button>
</form>

<div>
  <div class="text-secondary m-1">
    {{ result_list|length }}results
  </div>
  <div>
    {% for result in result_list %}
    <div class="card m-1">
      <div class="card-body">
        <div class="card-title align-text-bottom">
          <a class="button_url h5" name="{{ result.id }}" target="_blank" href="{{ result.url }}">{{ result.label }}</a>
          <button name="{{ result.id }}" type="button" class="button_fav btn btn-outline-success btn-sm">☆</button>
          <span class="badge bg-secondary">Relevance: {{ result.relevance |floatformat:2 }}</span>
          <span class="badge bg-secondary">File: {{ result.filename }}#L{{ result.line_no}}</span>
        </div>
        <code class="card-text">
          {{ result.text | linebreaksbr}}
        </code>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
