{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'article/JavaScript/article.js' %}" defer='defer'></script>
        <link rel='stylesheet' href="{% static 'article/CSS/article.css' %}" type='text/css'></link>
    </head>
    <body>
        <header>
            <h1>emwiki<a href="/article/data/sketchedmizar" target="article">apply</a></h1>
            
        </header>
        <div class="row">
        <div class="sidebar">
            <ui>
                {% for file_name in file_list %}
                    <li><a href="/static/mizar_html/{{file_name}}" target="article">{{ file_name }}</a></li>
                {% endfor %}
            </ui>
        </div>
        <div class="contents">
            <div id='file_name'>
            </div>
            <iframe id='article' name="article" src="/static/{{ file_path }}"></iframe>
        </div>
        </div>
    </body>
</html>