{% extends 'base.html' %}
{% load static %}

{% block head %}
{{ context_for_js|json_script:"context" }}
<!-- js-cookie -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>

<link rel='stylesheet' href="{% static 'article/css/index.css' %}" type='text/css'></link>
<script src="{% static 'article/js/htmlized_mml.js' %}"></script>
<script type="text/javascript" src="{% static 'article/js/mathjax.js'%}"></script>

<!-- MathJax -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" , type="text/javascript"
    )></script>
{% endblock %}

{% block drawer %}
  {% if target == 'article' %}
    <article-drawer/>
  {% elif target == 'theorem' %}
    <theorem-drawer/>
  {% endif %}
{% endblock %}

{% block content %}
<router-view></router-view>
{% endblock %}

{% block foot %}
<!-- Models -->
<script src="{% static 'article/js/models/article.js'%}"></script>
<script src="{% static 'article/js/models/comment.js'%}"></script>
<script src="{% static 'article/js/models/editor.js'%}"></script>
<script src="{% static 'article/js/models/parser.js'%}"></script>
<!-- Services-->
<script src="{% static 'article/js/services/article-service.js'%}"></script>
<script src="{% static 'search/js/services/theorem-service.js'%}"></script>
<!-- Components -->
<script src="{% static 'article/js/components/ArticleDrawer.js'%}"></script>
<script src="{% static 'search/js/components/theoremDrawer.js'%}"></script>
<!-- Views -->
<script src="{% static 'article/js/views/ArticleView.js'%}"></script>
<!-- Router -->
<script src="{% static 'article/js/router/index.js'%}"></script>
<!-- App -->
<script src="{% static 'article/js/app.js'%}"></script>
{% endblock %}
