@charset "UTF-8";

.select-pain ul li.pred:before {
    content: "\24df";
    color: #8b4513;
}

.select-pain ul li.struct:before {
    content: "\24e2";
    color: #000000;
}

.select-pain ul li.mode:before {
    content: "\24dc";
    color: #006400;
}

.select-pain ul li.func:before {
    content: "\24d5";
    color: #0000cd;
}

.select-pain ul li.attr:before {
    content: "\24d0";
    color: #dc143c;
}

#content h3 {
    padding: 5px;
    font-size: 20px;
    border-left: 10px solid #00008b;
    margin: 10px;
}
.mml-summary h1 {
    color: #ffffff;
    background-color: #00008b;
}

span[data-link] {
    color: #0000cc;
    font-weight: bold;
}

span[data-href] {
    color: #cc0000;
    font-weight: bold;
}

.mml-element.selected {
    border: 5px solid #adff2f;
}

.mml-element .source-box {
    border: 1px solid #000000;
}


.mml-element .source-box .main-sentence {
    background: #7fffd4;
}


.mml-element .reference table th {
    background: #66cdaa;
}

.mml-element .reference table td {
    border: 1px solid #808080;
}